<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "data/styles.css"%}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div class="top_bar_container">
<div class="top_nav">
<div class="title">yiwen's report</div>
<div class="link_nav">
	<div><a href="/data/edit/{{ today_str }}">edit</a></div>
	<div><a href="/data/summary">summary</a></div>
	<div><a href="/data/">all</a></div>
</div>
</div>
</div>
<div class="all_container">
<div class="header date_nav">
<a class="back_link" href="/data/edit/{{day_before_str}}"><</a>
{{ current_day }}
<a class="forward_link" href="/data/edit/{{day_after_str}}">></a>
</div>
<div class="form_container">
<form action="" method="post"> {% csrf_token %}

	<div class="sleep_field"><label>SLEPT</label><div class="entry">{{ sleep_form.time_slept }}</div></div>
	<div class="sleep_field"><label>AWAKE</label><div class="entry">{{ sleep_form.time_awake }}</div></div>
	<div class="sleep_field"><label>NAPPED</label><div class="entry">{{ sleep_form.hours_napped }}</div></div>
	<div class="food_field"><label>P SCORE</label><div class="entry">{{ food_form.p_score }}</div></div>
	<div class="food_field"><label>G SCORE</label><div class="entry">{{ food_form.g_score }}</div></div>
	<div class="hs_field"><label>HS</label><div class="entry">{{ hs_form.score }}</div></div>
	<div class="exercise_field">
	<label>EXERCISE</label>
	{{ exercise_formset.management_form }}
	{% for form in exercise_formset %}
	{{ form.id }}
	<div class="entry">{{ form.exercise_type }} {{ form.exercise_time}}</div></div>
	<div class="exercise_empty_field"><div class="empty_label"></div>
	{% endfor %}</div>
	
	<div class="happy_field">
	<label>HAPPY</label>
	{{ happy_formset.management_form }}
	{% for form in happy_formset %}
	{{ form.id }}
	<div class="entry">{{ form.text }}</div></div>
	<div class="happy_empty_field"><div class="empty_label"></div>
	{% endfor %}</div>
	
	<div class="unhappy_field">
	<label>UNHAPPY</label>
	{{ unhappy_formset.management_form }}
	{% for form in unhappy_formset %}
	{{ form.id }}
	<div class="entry">{{ form.text }}</div></div>
	<div class="happy_empty_field"><div class="empty_label"></div>
	{% endfor %}</div>

<br>
<div class="submit"><input type="submit" value ="Submit" /></div>
</form></div> 
</div>