<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "data/styles.css"%}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div class="top_bar_container">
<div class="top_nav">
<div class="title">yiwen's report</div>
<div class="link_nav">
	<div><a href="/data/edit/{{ today_str }}">edit</a></div>
	<div><a href="/data/summary">summary</a></div>
	<div><a href="/data/">all</a></div>
</div>
</div>
</div>
<div class="data_container">
<div class="header_row">
<div class="header data">&nbsp;day</div>
<div class="header data">sleep</div>
<div class="header data">eat</div>
<div class="header data">sweat</div>
<div class="header data">hs</div>
<div class="header data">happy</div>
<div class="header data">unhappy</div>
</div>
{% if day_log %}
		{% for d in day_log %}
		<div class="data_row">
			<div class="day data">&nbsp;{{ d.day }}</div>
			<div class="sleep data">{{ d.sleep }}</div>
			<div class="food data">{{ d.p_score }}, {{ d.g_score }}</div>
			<div class="exercise data">
				{% for e in d.exercise_list %}
				{{ e }}<br>
				{% endfor %}
			</div>
			<div class="hs data">{{ d.h_score }}</div>
			<div class="happy data">
				{% for h in d.happy_list %}
				{{ h }}<br>
				{% endfor %}
			</div>
			<div class="unhappy data">
				{% for u in d.sad_list %}
				{{ u }}<br>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
{% else %}
	<p> nothing available </p>
{% endif %}

</div>
</div>
</body>