<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "data/styles.css"%}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="header">
	<div class="title">reporter</div>
	<div class="nav">
		<div><a href="/data/">all</a></div>
		<div><a href="/data/happiness/">happiness</a></div>
		<div><a href="/data/sleep/">sleep</a></div>
	</div>
	</div>
<div class="chart"></div>
<div class="avgsleep">
<div class="value">7.5</div>
<div class="label">hours slept on average</div>
</div>
</div>

<script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
<script>
var data = [[0,12],[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8]];

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("height", function(d) { return d[1] * 30 + "px"; })
    .style("bottom",function(d) { return d[0] * 30 + "px"; })
</script>
</body>

</html>