<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "data/styles.css"%}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="header">
	<div class="title">reporter</div>
	<div class="nav">
		<div><a href="/data/">all</a></div>
		<div><a href="/data/happiness/">happiness</a></div>
		<div><a href="/data/sleep/">sleep</a></div>
	</div>
	</div>
<div class="chart">
	
</div>
<div class="avgsleep">
<div class="value">7.5</div>
<div class="label">hours slept on average</div>
</div>
</div>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var data = {{ sleep_array }};
var data2 = [[0, 24], [6.5, 7.0], [11.5, 6.0], [6.0, 7.5], [7.0, 6.0], [6.0, 6.5], [8.5, 6.5], [7.0, 6.0], [6.666666666666667, 7.333333333333333], [7.0, 7.5], [6.666666666666667, 7.666666666666667], [9.0, 7.0], [9.0, 6.0], [7.0, 10.0], [7.0, 10.0], [8.0, 6.0], [5.666666666666668, 8.333333333333334], [7.0, 8.0], [5.0, 10.0], [11.0, 4.0], [8.0, 7.0], [10.0, 5.0], [7.5, 2.5], [7.0, 8.0], [7.0, 7.5], [6.5, 8.0], [9.0, 5.0], [9.0, 7.0], [7.0, 7.5]];


var data1 = [[0,14],[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8],[1.5,7],
			[1,8.5],[3,7.5],[1,8],[3,8]];
console.log(data1);


d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("height", function(d) { return d[1] * 30 + "px"; })
    .style("bottom",function(d) { return d[0] * 30 + "px"; })
</script>
</body>

</html>