<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "data/styles.css"%}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="header">
	<div class="title">reporter</div>
	<div class="nav">
		<div><a href="/data/">all</a></div>
		<div><a href="/data/happiness/">happiness</a></div>
		<div><a href="/data/sleep/">sleep</a></div>
	</div>
	</div>
<div class="chart"></div>
</div>

<script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
<script>
var data = [[1,1],[3,2],[5,3],[7,2],[9,1]];

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("height", function(d) { return d[0] * 10 + "px"; })
    .style("bottom",function(d) { return d[1] * 10 + "px"; })
</script>

</body>

</html>