/* ============================== START Reset CSS ============================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================== END Reset CSS ============================== */


/* ============================== Basics ============================== */

.container {
    padding: 0px 40px;
}

html body { 
	font: 18px "HelveticaNeue-Light";
	color: #979797;
	line-height: 1.4;
}
	
.header {
	font: 30px "Quicksand";
	color: #5A5A5A;
}


a:link,a:visited {
    text-decoration:none;
    color:#5A5A5A;
}

/* ============================== Nav ============================== */

.top_nav {
	padding: 20px 0px;
	overflow: hidden;
	min-width:800px;
}

.title {
	font: 40px "Quicksand";	
	float: left;
	line-height: 50px;
	color: #5A5A5A;
}

.top_nav div {
	display: inline-block;
}

.link_nav {
	line-height: 65px;
}

.link_nav div{
	font: 20px "Quicksand";
	margin:0px 0px 0px 40px;
	color: #5A5A5A;
}

.link_nav a:link, .link_nav a:visited {
    text-decoration: none;
    color: #5A5A5A;
}

/* ============================== Data View ============================== */

.data_container {
	display:table;
}


.data_row {
	display: table-row;
}

.header_row {
    display: table-row;
    background: #F7F7F7;
}

.data {
	display:table-cell;
	padding:10px 20px 10px 0px;
}

.data.day {
	min-width:125px;
	width:125px;
}

.data.sleep {
	min-width:250px;
	width:250px;
}

.data.food, data.hs{
	min-width:75px;
	width:75px;
}

.data.exercise {
	min-width:125px;
	width:125px;
}

.data.happy, .data.unhappy {
	min-width:350px;
	width:350px;
}

/* ============================== Summary View ============================== */

.summary_container {
	display:block;
	width:1280px;
}

.summary_container div {
}


.data_point {
	font: 36px "Quicksand";	
}

.sleep_container, .food_container, .exercise_container, .happiness_container {
	width:200px;
    height:350px;
    background: #F7F7F7;
    margin-right: 15px;
    overflow: hidden;
	display: inline-block;	
	padding: 0px 15px;
}

.good_text {
	color: #9DD366;
}

.bad_text {
	color: #FFA8A8;
}

.ok_text {
	color: #FCB14A;
}

.small_text {
    font: 26px "Quicksand";
}

.label {
	font: 18px "HelveticaNeue-Light";
	padding: 20px 0px 10px 0px;
}

/* ============================== Edit ============================== */

input, textarea { 
    padding: 9px; 
    border: solid 0px #FFFFFF; 
    border-bottom: solid 1px #ccc;
    border-bottom-color: #ccc;
    font: normal 13px/100% "HelveticaNeue-Light"; 
    background: #FFFFFF; 
    color: #5A5A5A;
    outline: none;
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 

    } 
   
.submit input { 
    width: 300px; 
    padding: 9px 15px; 
    background: #4d4d4d; 
    border: 0; 
    font-size: 18px; 
    color: #FFFFFF; 
    display: none;
    }
    
.entry {
    display:table-cell;
    padding-left:20px;
}

.date_nav {
    width:380px;
    margin-bottom:20px;
    background: #F7F7F7;
    text-align:center;
    padding: 10px 15px;
}

.back_link {
    float:left;
}

.forward_link {
    float:right;
}

.form_container {
    width:500px;
    overflow:hidden;
    display: table;
}

.happy_field input, .unhappy_field input, .happy_empty_field input {
    width:300px;
}

.exercise_field div input, .exercise_empty_field div input {
    width:80px;
    margin-right:10px;
}

.sleep_field, .food_field, .hs_field, .exercise_field, .happy_field, .unhappy_field {
    height: 50px;
    line-height: 50px;
    display:table-row;
}

.empty_label {
    display:table-cell;
    width:10px;
}

.exercise_empty_field, .happy_empty_field {
    display:table-row;
}

.sleep_field input, .food_field input, .hs_field input {
    width:175px;
}